.App {
  padding: 50px 100px;
}

.searchFOrm input {
  border: 2px solid blue;
  padding: 10px;
  font-size: 18px;
}
.searchForm button {
  background-color: blue;
  color: white;
  font-size: 18px;
  border: 0;
}
.recipes-container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.recipe { 
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  padding: 25px;
  background-color: gainsboro;
  position: relative;
}

.recipe:nth-child(odd) {
  background-color: aliceblue;
}

.recipe a {
  text-decoration: none;
  background-color: blue;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.recipe .title {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 800;
  display: flex;
  align-items: flex-start;
}

.recipe .title img {
  margin-right: 20px;
}

.recipe ul {
  list-style-type: none;
  display:  flex;
  flex-wrap: wrap;
  margin-top:  10px 0 0 0;
  padding:  0;
}
.recipe li {
  margin: 5px 5px 0 0;
  padding:  5px;
  background-color: purple;
  color: white;
}